html, body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: black;
  height: 700px;
}

 html {
    overflow-x: initial !important;
    overflow-y: initial !important;
  
}

li {
  cursor: pointer;
  }

.fullBack {
  background-color: black;
}

.company-name{
  color:white;
}
/* Button Style */

#invitePal {
  margin-left: 40%;

  border-color: purple;
  border-width: .35em;
  color: black;
  box-shadow: 0 0 40px 40px orange inset, 0 0 0 0 orange;
  transition: all 500ms ease-in-out;
  
}
#invitePal:hover {
  box-shadow: 0 0 10px 0 orange inset, 0 0 10px 4px orange;
}


#invitePal, #createCompany {
  height: 73px;
  width: 25%;
  font-weight: bold;
  font-size: larger;
}

#createCompany {
  margin-left: 40%;

  border-color: purple;
  border-width: .35em;
  color: black;
  box-shadow: 0 0 40px 40px orange inset, 0 0 0 0 orange;
  transition: all 500ms ease-in-out;
}

#createCompany:hover {
  box-shadow: 0 0 10px 0 orange inset, 0 0 10px 4px orange;
}

#invitePal:hover {
  box-shadow: 0 0 10px 0 orange inset, 0 0 10px 4px orange;
}



.navLinks {
  margin-left: 10px;
}

.company-post {
  text-align: center;
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: rgb(10, 0, 0);
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Special Elite', cursive;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

#lookingForCompany {
  margin-left: 60%;
  width: 18%
}
#companySearchButton {
  position: relative;
}
.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/*------ LANDING PAGE/ABOUT US ------*/

.navbar {
  background-color: white;
}

.navbar-nav {
  color: black;
  font-family: "Special Elite", cursive;
  
}

.navbar-brand {
  position: relative;
  right: 40px;
  bottom: 8px;
  background-color: white;
  cursor: pointer;
}

.navbar-header {
  font-family: "Rye", cursive;
}

#landing-page	{
	background: url(https://images.unsplash.com/photo-1570508760310-4dccc6f80b23?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80);
    background-size: cover !important;
    background-position: center !important;
    font-family: "Rye", cursive !important;
    color: white !important;
    bottom: 20px;
}

html	{
	height: 100% !important;
}
#content {
  /*background: url(https://images.unsplash.com/photo-1570508760310-4dccc6f80b23?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80);
  background-size: 100% !important;
  background-position: center !important;*/

	text-align: center !important;
	padding-top: 25% !important;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1) !important;

}

h1	{

	font-weight: 400 !important;
	font-size: 5em !important;
}

hr {

width: 400px !important;
border-top: 1px solid #f8f8f8 !important;
border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}

h3 {
  top: 50px;
}

/*------ ABOUT US ------*/
.about-header {
  font-family: "rye", cursive;
  color: white;
}

.about-blurb {
  font-family: "Special Elite", cursive;
  color: gold;
}

/*------ MEET TEAM ------*/

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.teamroom {
  padding: 0 16px;
}


.title {
  color: white;
}

/*------ NEW REG PAGE ------*/
.RegContainer{
  width: 80%;
  margin: auto;
  padding: 20px;
height:100%;
}

.login ,.register{width: 50%}

/*------ LOGIN ------*/
#emailLogin{
  color: white;
}
#passwordLogin{
color: white;
}
.login{
  float:left;
  background-color: #080000;
  height: 90%;
  border-radius: 10px 0 0 10px;
  text-align: center;
  padding-top: 100px;
  
}
.login h1{
  margin-bottom: 40px;
  font-size: 2.5em;
  font-family: "Special Elite", cursive;
  color: white;
}

input[type="email"] , input[type="password"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  background-color: rgb(36, 35, 35);
  font-family: "Special Elite", cursive;
}

.login span{
  float: left
}
.login a{
  float: right;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}
.login a:hover{color: #26a93c;font-weight: bold}
.login button{
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: none;
  background-color: #112fb6;
  color: #fff;
  font-size: 20px;
  cursor: pointer!important;
  transition: 0.3s all ease-in-out;
}
.login button:hover{
  width:97%;
  font-size: 22px;
  border-radius: 5px;
  
}
.login hr{
  width: 30%;
  display: inline-block
}

.login p{
  display: inline-block;
  margin: 0px 10px 30px;
}
.login ul{
  list-style: none;
  margin-bottom:40px;  
}
.login ul li{
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}
.login ul li:hover{opacity: 0.6}
.login ul li:last-child{margin-right: 0}
.login{
  display: inline-block;
  float: none;
}
/*Start Register Style*/
.register{
  float: right;
  background-image: linear-gradient(135deg,  #e49d05 5%, #363536 95%);
  height: 90%;
  color:#fff;
  border-radius:  0 10px 10px  0;
  text-align: center;
  padding: 100px 0;
}
.register h2{
  margin: 30px 0;
  font-size: 50px;
  letter-spacing: 3px;
  font-family: "Rye", cursive;
}
.register p{
  font-size: 18px;
  margin-bottom: 30px;
  font-family: "Rye", cursive;
}
.register button{
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  transition:0.2s all  ease-in-out;
}
.register button:hover{
  color: #e49d05;
  background-color: rgb(10, 10, 10);
  cursor: pointer;
}


/* ------ REGISTRATION PAGE ------*/

form.signup {
  align-items: center!important;
}

.registration {
  margin: 0;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

.registration-horizontal {
  float: left;
  max-width: 400px;
  letter-spacing: 1px;
  font-family: 'Special Elite', cursive;
  font-weight: 400; 
}

.signin {
    margin-left: 62px;
    color: #fff;
}

.signin-right {
    float: relative;
    max-width: 400px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Special Elite', cursive;
    font-weight: 400; 
  }
  
.create {
  background-color: rgb(165, 155, 12);
}


/* ------ LEFT SIDE OF CONTACT PAGE ------ */

.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Special Elite', cursive;
  font-weight: 400;
  margin-bottom: 100px;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 44px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
  margin-bottom: 80px;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Special Elite', cursive;
  letter-spacing: 2px;
}


/* ------ RIGHT SIDE OF CONTACT ------ */

.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 65px;

}

/* ------ ADDRESS/PHONE/EMAIL ------ */

.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Special Elite', cursive;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 65px;
}

.email {
  margin-left: 43px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* ------ SOCIAL MEDIA ICONS ------ 

.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}*/

/* ------ MEDIA QUERIES ------ */

@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}